.container {
  padding: 0rem 2rem;
}

.main {
  min-height: 100vh;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer {
  display: flex;
  flex: 1;
  padding: 2rem 0;
  border-top: 1px solid #222;
  justify-content: center;
  align-items: center;
}

.main a {
  color: black;
  background-color: #f3ec78;
  padding: 0.5rem 1rem;
  border-radius: 50px;  
  text-decoration: none;
  font-weight: bold;
}

.main a:hover,
.main a:focus,
.main a:active {
  text-decoration: underline;
  color: brown;
  background-color: white;
  cursor: pointer;
}

.toplogo {
  font-size: 3rem;
  font-weight: 500;
  opacity: 100%;
  color: #ccc554;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}

.topbar {
  padding: 2rem;
  display: grid;
  grid-template-columns: auto auto;
  gap: 5px;
  align-items: center;
}

.title {
  margin: 0;
  line-height: 1.15;
  font-size: 4rem;
}

.title .gradient {
  background: -webkit-linear-gradient(45deg, #f3ec78, #af4261);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.title,
.description {
  text-align: center;
}

.description {
  margin: 3rem 0;
  line-height: 1.5;
  font-size: 1.5rem;
}

.code {
  background: #fafafa;
  border-radius: 5px;
  padding: 0.75rem;
  font-size: 1.1rem;
  font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
    Bitstream Vera Sans Mono, Courier New, monospace;
}

.grid {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 800px;
}

.imagewrapper {
  margin-top: 2rem;
}

@media (min-width: 800px) {
  .imagewrapper {
    max-width: 800px;
  }
}

@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }

  .title {
    margin: 0;
    line-height: 1.15;
    font-size: 3.7rem;
  }
}

  
